// Define variables for your color scheme

// For example:
$honeydew: #E6FDF0;
$aliceblue: #dbefff;
$lightcoral: #E77B79;
$orangeyellowcrayola: #F7D168;
$cadmiumgreen: #2A642C;
$gray: #0E0000;
$light-gray: #F4F4F4;
