// Define variables for your color scheme

// For example:
$honeydew: #E6FDF0;
$aliceblue: #dbefff;
$lightcoral: #E77B79;
$orangeyellowcrayola: #F7D168;
$cadmiumgreen: #2A642C;
$gray: #0E0000;
$light-gray: #F4F4F4;



$dark-green: #2A642C;
$orange-yellow: #f7d168;
$pink: #ffc6c5;
$light-blue: #DBEFFF;
$honeydrew: #F2E8CF;
