// Import page-specific CSS files here.
@import "home";
@import "signup";
@import "toy_show";
@import "toy_index";
@import "dashboard";

body {
  color: #333;
  margin-top: 70px;
  background-color: $lightcoral;
}
