#toy {
  text-decoration: none;
  color: #333;

}
.toys h1 {
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: center;
  font-weight: bold;
  color: darkgreen;
  font-family: 'Shizuru', Arial, Helvetica, sans-serif;
}
.toys {
  background-image: linear-gradient($orangeyellowcrayola, $pink, rgb(75, 77, 148));
  .cards {
    a:nth-child(4n+1) {
      .card-toy-infos {
        background-color: $honeydew;
      }
    }
    a:nth-child(4n+2) {
      .card-toy-infos {
        background-color: $honeydrew;
      }
    }
    a:nth-child(4n+3) {
      .card-toy-infos {
        background-color: $aliceblue;
      }
    }
    a:nth-child(4n+4) {
      .card-toy-infos {
        background-color: $pink;
      }
    }
  }
  .search-container {
    width: 40%;
  }
  p {
    font-family: $normal-text;
  }
}
