.toy-show-container {
  margin: 120px 60px 40px 60px;
  color: #094209;
<<<<<<< HEAD
  .img-container {
    margin-bottom:20px;
  }
=======
  background-color: #f0f0ed5b;
  border-radius: 24px;
  padding: 32px;
>>>>>>> master
  .wrapper {
    display:flex;
    justify-content: space-around;
    padding: 0 108px;
    button, .book-btn {
      color: rgb(245, 239, 239);
      padding: 10px 20px;
      border-radius: 4px;
    }
    a {
      text-decoration: none;
    }
  }
}
