#toy {
  text-decoration: none;
  color: #333;

}
.toys h1 {
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: center;
  font-weight: bold;
  color: #386641;
  font-family: 'Shizuru', cursive;

}
.toys {
  background-color:  #aad576;
  .card-toy-infos {
    background-color: #F2E8CF;
  }
  .container {
    width: 40%;
  }
  p {
    font-family: $normal-text;
  }
}
