<div class="footer">
  <div class="footer-links footer-box">
    <a href="https://www.instagram.com/hamleysofficial/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Hamleyslondon/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/HamleysOfficial"><i class="fab fa-twitter"></i></a>
  </div>

  <div class="footer-links footer-box">
    <a href="/contact">Contact us</a>
  </div>

  <div class="footer-copyright footer-box">
    © Copyright of Team Toys4Rent
  </div>
</div>
