.banner {
  background-color: opacity($color: #746e6e);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 10px 20px;
    color: rgb(245, 239, 239);
    border-radius: 4px;
    background-color: #548235;
    border-color: #548235;
    font-weight: bold;
    opacity: 0.8;
  }
  .btn:hover {
    opacity: 1;
  }
}
