.banner {
  background-color: opacity($color: #746e6e);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 8px 0 10px $cadmiumgreen;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 30px;
    text-shadow: 8px 0 10px $cadmiumgreen;
  }
  .btn {
    padding: 10px 20px;
    color: rgb(245, 239, 239);
    border-radius: 4px;
    background-color: $cadmiumgreen;
    border-color: $cadmiumgreen;
    font-weight: bold;
    transition: 0.5s ease-in-out;
  }
  .btn:hover {
   transform: scale(1.1);
   background-color: #3b883d;
  }
}
