body.bookings.index {
  h1 {
    text-align: center;
    color: rgb(9, 66, 9);
    text-transform: capitalize;

  }
  h2 {
    text-align: center;
  }

  .request {
    max-width: 50%;
  }

  .card-product {
    margin-bottom: 10px;
    border-radius: 2px;
  }
}
