
.btn-flat {
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  background: $cadmiumgreen;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $cadmiumgreen;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  background: linear-gradient(#fb2516, #c40f0f);
  transition: background 0.3s ease;
  border: 1px solid #c4330f;
}

.btn-gradient:hover {
  background: linear-gradient(#ff3714, #da380f);
  color: white;
}

.cancel-booking-btn {
  position:relative;
  right:-143px;

}
.edit-user {
  width: 150px;
  position: absolute;
  right: 20px;
  border-radius: 5px;
}

.back-to-toys-btn {
  text-decoration: none;
  border: 1px solid #fff;
  background-color: white;
  color: #bc4749;
  padding: 6px 24px;
  border-radius: 50px;
  margin: 0px;
  margin-top:10px;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: #fff;
    border:none;
    /*border: 1px solid #f2e8cf;*/
    background-color: #bc4749;
  }
}
