.footer {
  // background: #F4F4F4;
  display: flex;
  align-items: center;
  // justify-content: center;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  // position: fixed;
  // bottom: 0;
  background-color: rgb(248, 240, 240);
}

.footer-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-box:first-child { margin-right: auto; }
.footer-box:last-child { margin-left: auto;  }

.footer-links a {
  color: #548235;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
